fastapi==0.116.1
uvicorn[standard]==0.35.0
python-dotenv==1.1.1
psycopg2-binary==2.9.10

# LangChain stack
langchain==0.3.27
langchain-groq==0.3.6
langchain-community==0.3.27
langchain-chroma==0.2.5
langchain-core==0.3.72
langchain-huggingface==0.3.1
sentence-transformers==5.0.0
chromadb==1.0.15

# Embedding + vector & misc
huggingface-hub==0.34.2
numpy==2.3.2
pandas==2.3.1
SQLAlchemy==2.0.41
protobuf==6.31.1

